<%= render :partial => @post %>

<p>
	<% if @blog.author == current_user.username %>
		<%= link_to 'Edit', edit_post_path(@post) %> |
		<%= link_to 'Destroy', @post, :method => :delete, :confirm => "Are you sure?" %> |
	<% end %>
	<%= link_to 'See All Posts', @blog %>
</p>

<h2>Comments</h2>
<div id="comments">
	<%= render :partial => @post.comments %>
</div>
<% if @post.comments.empty? %>
	<p style="font-size:14pt">There are no comments yet...</p>
<% end %>

<% remote_form_for [@post, Comment.new] do |f| %>
	<p>
		<%= f.label :body, "New Comment" %><br/>
		<%= f.text_area :body %>
	</p>
	<p><%= f.submit "Add Comment" %></p>
<% end %>
